@import "main.scss";



.img-size{
    width: 100%;
    height: rem(200);
    object-fit: cover;

}

.buscador{
    border-radius: rem(8);
    border: 2px solid #ff6600;
}

.titulo-carrito{
    font-size: rem(3);
}

.fill-car{
    position: relative;
    &::after{
        position: absolute;
        display: block;
        content: "";
        width: 15px;
        height: 15px;
        background-color: rgb(20, 20, 250);
        border-radius: 100%;
        top: 0;
        right: 0;
        transform: translateX(10px);
    }
}

//para swiper
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }